<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US">

<!-- Mirrored from themes.truethemes.net/Karma-HTML/template-leftnav.html by HTTrack Website Copier/3.x [XR&CO'2010], Sat, 23 Jun 2012 06:20:50 GMT -->
<head>
    <!--[if lte IE 8]><meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" /><![endif]-->

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title> FTWeb &#8211; Football&#8211;Tennis Fixture</title>

    <script type="text/javascript" src="@Url.Content("~/Scripts/js/jquery-1.4.2.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/js/karma.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/js/general.js")"></script>

    <script type="text/javascript" src="@Url.Content("~/Scripts/js/jquery.cycle.all.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/js/jquery-1-slider.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/js/testimonial-slider.js")"></script>

    <link href="@Url.Content("~/Content/style.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/themes/base/karma-teal-grey.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/themes/base/standard.css")" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="#"/>

    <!--[if lte IE 8]><link rel="stylesheet" type="text/css" href="css/lt8.css" media="screen"/><![endif]-->
</head>

<body>

    <div id="wrapper">

        <div id="header">
            <div class="top-block">
                <div class="top-holder">

                    <!-- ***************** - Top Toolbar Left Side - ***************** -->
                     <div class="sub-nav">
                        <ul>
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li><a href="http://www.heineken.com/AgeGateway.aspx">Sponsors</a></li>
                        </ul>
                     </div><!-- end sub-nav -->
                     <!-- ***************** - END Top Toolbar Left Side - ***************** -->

                    <!-- ***************** - Top Toolbar Right Side - ***************** -->
                    <div class="sub-nav2">
                        <ul>
                        <li><a href="http://en.wikipedia.org/wiki/Football_tennis">Football Tennis</a></li>
                        <li>@Html.ActionLink("JJ" + Convert.ToChar(8482), "Index", "About")</li>
                        </ul>
                    </div><!-- end sub-nav2 -->
                    <!-- ***************** - END Top Toolbar Right Side - ***************** -->

                </div><!-- end top-holder -->
            </div><!-- end top-block -->

            <div class="header-holder">
                <div class="rays">
                    <div class="header-area">

                        <!-- ***************** - LOGO - ***************** -->
                        <a href="@Url.Action("Index", "Home")" class="logo"><img src="@Url.Content("~/Content/themes/base/images/logo1.png")" alt="Football Tennis Web" /></a>
                        <!-- ***************** - END LOGO - ***************** -->

                        <!-- ***************** - Main Navigation - ***************** -->
                        <ul id="menu-main-nav">
                        <li><a href="@Url.Action("Index", "Player")"><span><strong>Players</strong><span class="navi-description">Players information</span></span></a>
                            <ul class="sub-menu">
	                            <li><a href="@Url.Action("Create", "Player")"><span>Add new player</span></a></li>
	                        </ul>
                        </li>

                        <li><a href="@Url.Action("Index", "Team")"><span><strong>Teams</strong><span class="navi-description">Teams information</span></span></a>
                            <ul class="sub-menu">
                                <li><a href="@Url.Action("Create", "Team")"><span>Add new team</span></a></li>
                            </ul>
                        </li>

                        <li><a href="@Url.Action("List", "Championship")"><span><strong>Championships</strong><span class="navi-description">Matches &amp; fixtures</span></span></a>
                            <ul class="sub-menu">
	                            <li><a href="@Url.Action("Create", "Championship")"><span>Add new championship</span></a></li>
                            </ul>
                        </li>

                        <li><a href="@Url.Action("Index", "About")"><span><strong>About FTWeb</strong><span class="navi-description">Developers information</span></span></a>

                        </li>

                        <!-- <li><a href="template-blog.html"><span><strong>About</strong><span class="navi-description">articles &amp; ideas</span></span></a></li></ul> -->
                        <!-- ***************** - END Main Navigation - ***************** -->

                    </div><!-- header-area -->
                </div><!-- end rays -->
            </div><!-- end header-holder -->
        </div><!-- end header -->

        <div id="main">

            <div class="main-area">
                <!-- ***************** - START Title Bar - ***************** -->
                <div class="tools">
                    <div class="holder">
                        <div class="frame">
                            <h1>@ViewBag.Title</h1>

                            <form method="get" id="searchform" action="#" class="search-form">
                                <fieldset>
                                    <span class="text">
                                        <input type="submit" class="submit" value="search" id="searchsubmit" />
                                        <input type="text" name="s" id="s" value="Search" onfocus="this.value=(this.value=='Search') ? '' : this.value;" onblur="this.value=(this.value=='') ? 'Search' : this.value;" />
                                    </span>
                                </fieldset>
                            </form>


                            <p class="breadcrumb"><span class='current_crumb'>@ViewBag.Subtitle</span></p>
                        </div><!-- end frame -->
                    </div><!-- end holder -->
                </div><!-- end tools -->
                <!-- ***************** - END Title Bar - ***************** -->
                <br />
                @RenderBody()
                <br />
            </div><!-- main-area -->

            <!-- /***************** - Bottom Footer - ***************** --> 
            <div id="footer_bottom">
                <div class="info">
                    <div id="foot_left">
                        <p>Copyright &copy; 2012 Javo &amp JP. All rights reserved.</p>
                    </div><!-- end foot_left -->

                    <div id="foot_right">
                        <div class="top-footer"><a href="#" class="link-top">top</a></div>
 
                        <ul>
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("JJ" + Convert.ToChar(8482), "Index", "About")</li>
                        </ul>
                    </div><!-- end foot_right -->
                </div><!-- end info -->
            </div><!-- end footer_bottom -->
            <!-- /***************** - END Bottom Footer - ***************** --> 

        </div><!-- end main -->

    </div><!-- end wrapper -->

</body>

<!-- Mirrored from themes.truethemes.net/Karma-HTML/template-leftnav.html by HTTrack Website Copier/3.x [XR&CO'2010], Sat, 23 Jun 2012 06:20:53 GMT -->
</html>