@model FT.Models.championship

@{
    ViewBag.Title = "Championships";
    ViewBag.Subtitle = "Details";
}

<h2>@Html.DisplayFor(model => model.Name)</h2>
<br />

<table cellpadding="0" cellspacing="0" border="0" class="stdtable stdtablecb" id="dyntable">
    <div class="tableoptions">
        @Html.ActionLink("Matches", "GetMatches", "Championship", new { champId = Model.Id }, new { @class = "ka-form-submit tablebtn" })
        @Html.ActionLink("Playoffs", "Playoffs", "Championship", new { champId = Model.Id }, new { @class = "ka-form-submit tablebtn" })
    </div>
    <thead>
        <tr>
            <th class="head0">
                <div class="DataTables_sort_wrapper">Pos<span class="DataTables_sort_icon css_right ui-icon ui-icon-triangle-1-n"></span></div>
            </th>
            <th class="head1">
                <div class="DataTables_sort_wrapper">Team<span class="DataTables_sort_icon css_right ui-icon ui-icon-triangle-1-n"></span></div>
            </th>
            <th class="head0" style="width:150px">
                <div class="DataTables_sort_wrapper">GP<span class="DataTables_sort_icon css_right ui-icon ui-icon-triangle-1-n"></span></div>
            </th>
            <th class="head1" style="width:150px">
                <div class="DataTables_sort_wrapper">W<span class="DataTables_sort_icon css_right ui-icon ui-icon-triangle-1-n"></span></div>
            </th>
            <th class="head0" style="width:150px">
                <div class="DataTables_sort_wrapper">L<span class="DataTables_sort_icon css_right ui-icon ui-icon-triangle-1-n"></span></div>
            </th>
            <th class="head1" style="width:150px">
                <div class="DataTables_sort_wrapper">Sets won<span class="DataTables_sort_icon css_right ui-icon ui-icon-triangle-1-n"></span></div>
            </th>
            <th class="head0" style="width:150px">
                <div class="DataTables_sort_wrapper">Sets lost<span class="DataTables_sort_icon css_right ui-icon ui-icon-triangle-1-n"></span></div>
            </th>
            <th class="head1" style="width:150px">
                <div class="DataTables_sort_wrapper">Sets diff<span class="DataTables_sort_icon css_right ui-icon ui-icon-triangle-1-n"></span></div>
            </th>
            <th class="head0" style="width:150px">
                <div class="DataTables_sort_wrapper">Games won<span class="DataTables_sort_icon css_right ui-icon ui-icon-triangle-1-n"></span></div>
            </th>
            <th class="head1" style="width:150px">
                <div class="DataTables_sort_wrapper">Games lost<span class="DataTables_sort_icon css_right ui-icon ui-icon-triangle-1-n"></span></div>
            </th>
            <th class="head0" style="width:150px">
                <div class="DataTables_sort_wrapper">Games diff<span class="DataTables_sort_icon css_right ui-icon ui-icon-triangle-1-n"></span></div>
            </th>
            <th class="head1" style="width:150px">
                <div class="DataTables_sort_wrapper">Points<span class="DataTables_sort_icon css_right ui-icon ui-icon-triangle-1-n"></span></div>
            </th>
        </tr>
    </thead>

    <tbody>

    @{
        int i = 1;
        foreach (var item in FT.Controllers.ChampionshipController.fixtureHelper.rows) {
            @:<tr>
                <td>@i</td>
                <td>@item.Team.Name</td>
                <td>@item.Played</td>
                <td>@item.Won</td>
                <td>@item.Lost</td>
                <td>@item.SetsWon</td>
                <td>@item.SetsLost</td>
                <td>@item.SetsDiff</td>
                <td>@item.GamesWon</td>
                <td>@item.GamesLost</td>
                <td>@item.GamesDiff</td>
                <td>@item.Points</td>
            @:</tr>
            i++;
        }
    }
    </tbody>
</table>
<div class="button-wrapper submit-button-wrapper clearfix">
    <div class="button-input-wrapper submit-button-input-wrapper">
        @Html.ActionLink("Back", "List", "Championship", new { champId = Model.Id }, new { @class = "ka-form-submit" })
    </div>
</div>