@model FT.Models.team

@{
    ViewBag.Title = "Create";
}

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

<link href="@Url.Content("~/Content/themes/base/main.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/themes/base/reset.css")" rel="stylesheet" type="text/css" />





<div class="main-holder home-holder">
    <div class="content_full_width">
        <div class="one_wrap fl_left">
    	    <div class="widget">
        	    <div class="widget_title"><span class="iconsweet">r</span><h5>Create new team</h5></div>
                <div class="widget_body">
				    <!--Form fields-->
                    @using (Html.BeginForm())
                    {
                        @Html.ValidationSummary(true)
                        <ul class="form_fields_container">
                	        <li>@Html.LabelFor(model => model.Name) 
                                <div class="form_input">
                                    @Html.EditorFor(model => model.Name)
                                    @Html.ValidationMessageFor(model => model.Name)
                                </div>
                            </li>
                            <p>
                                <input type="submit" value="Create" />
                            </p>            
                        </ul>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
