@model FT.Models.team

@{
    ViewBag.Title = "Teams";
    ViewBag.Subtitle = Model.Name;
}

<div class="content_full_width portfolio_layout">
    <div class="one_half">
        <div class="portfolio_content_top">
            <div class="port_img_two">
                <div class="preload preload_two">
                    <img src="@Html.Raw(Model.Logo ?? "")" alt="Lorem Ipsum" width="437" height="234" />
                </div>
            </div><!-- end preload -->
        </div><!-- end modern_portrait_img -->
    </div>

    <div class="one_third">
        <h3>@Model.Name</h3>
        <p><em></em></p>
    </div><!-- end portfolio_one_column -->
</div>

<h2>Players</h2>
<div class="content_full_width portfolio_layout">
@foreach (var item in Model.team_player)
{
    <div class="one_third">
        <div class="portfolio_content_top_portrait">
            <div class="modern_portrait_img_frame_thumb modern_portrait_thumb">
                <div class="preload modern_nopreload_portrait_thumb">
                    <img src="@Html.Raw(item.player.Image ?? "")" alt="Lorem Ipsum" width="275" height="355" />
                </div>
            </div><!-- end preload -->
        </div><!-- end modern_portrait_img -->
        <div>
            <h3>@item.player.Name</h3>
            <p><em></em></p>
        </div>
    </div>
}
</div>

<div class="button-wrapper submit-button-wrapper clearfix">
    <div class="button-input-wrapper submit-button-input-wrapper">
        @Html.ActionLink("Back", "Index", "Team", null, new { @class = "ka-form-submit" })
    </div>
</div>