@model FT.Models.team

@{
    ViewBag.Title = "Teams";
    ViewBag.Subtitle = "Details";
}

<div class="main-holder home-holder">
    <div class="content_full_width">
        <div class="home-bnr-jquery">
             <div class="home-banner-main">
                <h2 style="text-align: center;">@Html.Label(Model.Name)</h2>
                <br />

                @foreach (var tp in Model.team_player)
                {
                    <div class="one_fourth nomargin">
	                    <div class="modern_img_frame modern_four_col_large">
                            <div class="nopreload_four_col_large">
 	                            <div class="attachment-fadeIn" style="display: block; ">
                                    <img src="@Html.Raw(tp.player.Image)" alt="CSS Template" width="190" height="111" />
                                </div>
                            </div>
	                    </div><!-- end modern_img_frame -->
 
                        <h2>@Html.Label(tp.player.Name)</h2>
                    </div>

                }
             </div><!-- end home-banner-main -->

             <div class="home-banner-sub">
                 <div class="home-banner-sub-content">
                    <img src="@Html.Raw(Model.Logo ?? "")" width="404" height="256" />
                    <div class="home-banner-bottom">&nbsp;</div>
                 </div><!-- end home-banner-sub-content -->
             </div><!-- end home-banner-sub -->
        </div><!-- end home-bnr-jquery -->
    </div><!-- end content -->
</div>

<div class="button-wrapper submit-button-wrapper clearfix">
    <div class="button-input-wrapper submit-button-input-wrapper">
        @Html.ActionLink("Back", "Index", "Team", null, new { @class = "ka-form-submit" })
    </div>
</div>